.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cover_img {
  width: 260px;
  height: 350px;
  background-color: rgb(230, 230, 230);
}

.info_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
